<%- include('./partials/head.ejs') %> 
<body>
    <%- include ('./partials/nav.ejs') %> 
    <div class="notfound content">
        <h2>OOPS, Page Not Found</h2>
        <p><h3><a href="/">Go Back Home</a></h3></p>
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>