<%- include('./partials/head.ejs') %> 

<body>
    <%- include ('./partials/nav.ejs') %> 
    <div class="about content">
        <h2>Welcome to Fitness blog!</h2>
        
        <p>Fitness Blog is your ultimate online resource for all things fitness and wellness. Our blog is dedicated to providing you with the latest workout trends, healthy recipes, and expert advice on how to achieve your fitness goals. Whether you're a beginner looking to start your fitness journey or a seasoned athlete seeking to improve your performance, our blog has something for everyone.</p>

        <p style="margin: 1em 0;">Our team of fitness enthusiasts and experts are passionate about helping you live a healthier, happier lifestyle. We believe that fitness is not just about physical health, but also about mental wellbeing. That's why we cover a wide range of topics, from workout routines and nutrition plans, to stress management and mindfulness techniques.</p>
        
        <ul>On our blog, you can expect to find:
            <li>
                <span>Workout guides:</span> Step-by-step instructions and videos to help you master new exercises and routines.
            </li>

            <li>
                <span>Healthy recipes:</span> Delicious and nutritious meal ideas to fuel your body and support your fitness goals.
            </li>

            <li>
                <span>Fitness tips and advice:</span> Expert guidance on how to stay motivated, overcome obstacles, and achieve your fitness goals.
            </li>

            <li>
                <span>Product reviews:</span> Honest reviews of fitness gear, supplements, and equipment to help you make informed purchasing decisions.
            </li>
        </ul>
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>