<%- include("./partials/head.ejs") %>  

<form action="/sentmail">

    <div class="sentmail">
        <h2 class="sentmailh2">
            your Mail Have been sent successfully 
        </h2>
    </div>
</form>

<form action="/">
<button class="back">Back</button>
</form>

