<%- include("./partials/head.ejs") %>  

<body>
    <%- include("./partials/nav.ejs") %>  
    <h2 class="login">Login</h2>
    <div class="create-blog content">
       <form action="/blogs/login" method="post">

        <label for="email">Email:</label>
        <input type="email" name="email" id="Email" placeholder="Email" required>

        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Password" required>

        <button>Log In</button>

       </form>
    </div>

    <%- include("./partials/footer.ejs") %>  

</body>
</html>